In [1]:
'''import opendatasets as od
import pandas

od.download(
	"https://www.kaggle.com/datasets/rishikeshkonapure/zomato")
'''

'import opendatasets as od\nimport pandas\n\nod.download(\n\t"https://www.kaggle.com/datasets/rishikeshkonapure/zomato")\n'

In [2]:
import pandas as pd

In [3]:
main_df=pd.read_csv("zomato.csv")

In [4]:
df1=main_df.head(20000)

In [5]:
df1.shape

(20000, 17)

In [6]:
df1 = df1.rename(columns={'listed_in(type)': 'type'})
df1 = df1.rename(columns={'listed_in(city)': 'city'})

In [7]:
df1 = df1.rename(columns={'approx_cost(for two people)': 'cost'})
df1.dropna(how='any', inplace=True)
df1['cost']=df1['cost'].astype(str)
df1['cost']=df1['cost'].apply(lambda x: x.replace(',',''))
df1['cost']=df1['cost'].astype(float)

In [8]:
df1.shape

(8971, 17)

In [9]:
df1=df1[df1.rate!='NEW']
df1=df1[df1.rate!='-'].reset_index(drop=True)
remove_slash=lambda x: x.replace('/5','')if type(x)==str else x
df1.rate=df1.rate.apply(remove_slash).str.strip().astype('float')

In [10]:
df1.name = df1.name.apply(lambda x:x.title())
df1.online_order.replace(('Yes','No'),(True, False),inplace=True)
df1.book_table.replace(('Yes','No'),(True, False),inplace=True)

C:\Users\Mayur Dalvi\AppData\Local\Temp\ipykernel_16112\1442308228.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1.online_order.replace(('Yes','No'),(True, False),inplace=True)
C:\Users\Mayur Dalvi\AppData\Local\Temp\ipykernel_16112\1442308228.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df1.online_order.replace(('Yes','No'),(True, False),inplace=True)
C:\Users\Mayur Dalvi\AppData\Local\Temp\ipykernel_16112\1442308228.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1.book_table.replace(('Yes','No'),(True, False),inplace=True)
C:\Users\Mayur Dalvi\AppData\Local\Temp\ipykernel_16112\1442308228.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df1.book_table.replace(('Yes','No'),(True, False),inplace=True)

In [11]:
rest_co = df1['name'].nunique()
rest_co

2431

In [12]:
df1['Mean Rating'] = 0

In [13]:
resturants = list(df1['name'].unique())

In [14]:
!pip install textblob
from textblob import TextBlob
import re
!pip install nltk
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

Collecting textblob
  Downloading textblob-0.18.0.post0-py3-none-any.whl.metadata (4.5 kB)
Requirement already satisfied: nltk>=3.8 in c:\users\mayur dalvi\appdata\local\programs\python\python312\lib\site-packages (from textblob) (3.8.1)
Requirement already satisfied: click in c:\users\mayur dalvi\appdata\local\programs\python\python312\lib\site-packages (from nltk>=3.8->textblob) (8.1.7)
Requirement already satisfied: joblib in c:\users\mayur dalvi\appdata\local\programs\python\python312\lib\site-packages (from nltk>=3.8->textblob) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\mayur dalvi\appdata\local\programs\python\python312\lib\site-packages (from nltk>=3.8->textblob) (2024.7.24)
Requirement already satisfied: tqdm in c:\users\mayur dalvi\appdata\local\programs\python\python312\lib\site-packages (from nltk>=3.8->textblob) (4.66.5)
Requirement already satisfied: colorama in c:\users\mayur dalvi\appdata\roaming\python\python312\site-packages (from click->nltk>=3.8->textblob) (0.4.6)
Downloading textblob-0.18.0.post0-py3-none-any.whl (626 kB)
   ---------------------------------------- 0.0/626.3 kB ? eta -:--:--
   ---------------------------------------- 626.3/626.3 kB 4.7 MB/s eta 0:00:00
Installing collected packages: textblob
Successfully installed textblob-0.18.0.post0

WARNING: Ignoring invalid distribution ~atplotlib (C:\Users\Mayur Dalvi\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~otebook (C:\Users\Mayur Dalvi\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~atplotlib (C:\Users\Mayur Dalvi\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~otebook (C:\Users\Mayur Dalvi\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~atplotlib (C:\Users\Mayur Dalvi\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~otebook (C:\Users\Mayur Dalvi\AppData\Local\Programs\Python\Python312\Lib\site-packages)

Requirement already satisfied: nltk in c:\users\mayur dalvi\appdata\local\programs\python\python312\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\mayur dalvi\appdata\local\programs\python\python312\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\mayur dalvi\appdata\local\programs\python\python312\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\mayur dalvi\appdata\local\programs\python\python312\lib\site-packages (from nltk) (2024.7.24)
Requirement already satisfied: tqdm in c:\users\mayur dalvi\appdata\local\programs\python\python312\lib\site-packages (from nltk) (4.66.5)
Requirement already satisfied: colorama in c:\users\mayur dalvi\appdata\roaming\python\python312\site-packages (from click->nltk) (0.4.6)

WARNING: Ignoring invalid distribution ~atplotlib (C:\Users\Mayur Dalvi\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~otebook (C:\Users\Mayur Dalvi\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~atplotlib (C:\Users\Mayur Dalvi\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~otebook (C:\Users\Mayur Dalvi\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~atplotlib (C:\Users\Mayur Dalvi\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~otebook (C:\Users\Mayur Dalvi\AppData\Local\Programs\Python\Python312\Lib\site-packages)
[nltk_data] Downloading package stopwords to C:\Users\Mayur
[nltk_data]     Dalvi\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [15]:
from nltk.tokenize import word_tokenize

In [16]:
df1['reviews_list'] = df1['reviews_list'].str.lower()

In [17]:
STOPWORD = set(stopwords.words('english'))
def remove_stopwords(text):
    return ' '.join([word for word in str(text).split() if word not in STOPWORD])

In [18]:
df1['reviews_list'] = df1['reviews_list'].apply(lambda text: remove_stopwords(text))

In [19]:
def remove_urls(text):
    url_pattern = re.compile(r'https?://\S+|www\.\S+')
    return url_pattern.sub(r'', text)

In [20]:
df1['reviews_list'] = df1['reviews_list'].apply(lambda text: remove_urls(text))

In [21]:
import re

In [22]:
df1[['reviews_list', 'cuisines']].sample(10)

,reviews_list,cuisines
6519,"[('rated 3.0', ""rated\n good seating area chil...","American, Continental, Steak, Salad"
2288,"[('rated 2.0', 'rated\n two people ordered pan...","North Indian, Fast Food, Street Food"
4893,"[('rated 3.0', ""rated\n ambience 3/5\nfood 3/5...",Fast Food
4168,"[('rated 4.0', 'rated\n nice place visited pla...","Biryani, Chinese, North Indian"
1824,"[('rated 3.0', 'rated\n place locals like ? po...","North Indian, South Indian, Continental"
7654,"[('rated 3.0', 'rated\n small neat little cafe...","Pizza, Italian, Cafe, Burger, Finger Food, Fas..."
6923,"[('rated 4.0', 'rated\n service good\n\nplace ...","Burger, Fast Food, Beverages"
828,"[('rated 5.0', 'rated\n restaurant nearby kaly...","North Indian, Chinese, Biryani, Hyderabadi"
6776,"[('rated 4.0', ""rated\n really good service. p...",Finger Food
3352,"[('rated 4.0', 'rated\n brilliant place, court...","Bakery, Cafe"

In [23]:
def remove_rated(text):
  text = re.sub(r'rated\s*\d+\.?\d*', '', str(text))
  return text

In [24]:
df1['reviews_list'] = df1['reviews_list'].apply(remove_rated)

In [25]:
df1[['reviews_list', 'cuisines']].sample(10)

,reviews_list,cuisines
7999,"[('', ""rated\n starving since afternoon scouti...","Fast Food, Chinese"
8506,"[('', 'rated\n came dinner. place looks quite ...","North Indian, Chinese"
2532,"[('', ""rated\n love place even though small pl...","Chinese, Thai, Momos"
7722,"[('', 'rated\n ordered poha here.i regular cus...",Fast Food
8575,"[('', ""rated\n staff cares cricket matches pla...","North Indian, Continental, Italian"
2160,"[('', 'rated\n placed online order veg steamed...","Chinese, Momos"
2420,"[('', ""rated\n undoubtedly say best steak plac...","North Eastern, Asian, Naga, Steak, Momos"
8129,"[('', 'rated\n wrost food experience. russian ...","Russian, Continental, North Indian"
2483,"[('', 'rated\n best rabri town.l, long remembe...","Fast Food, Mithai"
3177,"[('', ""rated\n love place drinks ? like place ...","Desserts, Beverages, Ice Cream"

In [26]:
def remove_ratedn(text):
  text = re.sub(r'ratedn', '', str(text))
  return text

In [27]:
df1['reviews_list'] = df1['reviews_list'].apply(remove_ratedn)

In [28]:
df1[['reviews_list', 'cuisines']].sample(10)

,reviews_list,cuisines
7182,"[('', ""rated\n food kind ok, like veg sagar re...","South Indian, North Indian, Chinese, Beverages"
6366,"[('', 'rated\n mutton curry (mostly bone grist...","Biryani, Kerala, Seafood, South Indian"
7719,"[('', 'rated\n ordered sub quite times. delive...","Salad, Fast Food"
2770,"[('', 'rated\n mutton curry (mostly bone grist...","Biryani, Kerala, Seafood, South Indian"
1495,"[('', ""rated\n stay away. dingy dim lit entran...","Chinese, Thai, Momos"
6602,"[('', 'rated\n shopping stuff nearby came acro...","North Indian, Chinese"
2972,"[('', 'rated\n restaurant suggested one close ...","North Indian, Arabian, Mughlai, Biryani, Seafo..."
6781,"[('', 'rated\n order swiggy pop rs99 delicious...","Chinese, Thai"
6473,"[('', 'rated\n cozy little place nice ambience...","Cafe, Desserts"
2265,[],"North Indian, Chinese, Mughlai, Kebab"

In [29]:
resturant_name = list(df1['name'].unique())
def get_top_words(column, top_nu_of_words, nu_of_word):
    vec = CountVectorizer(ngram_range= nu_of_word, stop_words='english')
    bag_of_words = vec.fit_transform(column)
    sum_words = bag_of_words.sum(axis=0)
    words_freq = [(word, sum_words[0, idx]) for word, idx in vec.vocabulary_.items()]
    words_freq =sorted(words_freq, key = lambda x: x[1], reverse=True)
    return words_freq[:top_nu_of_words]

In [30]:
df1=df1.drop(['address','rest_type','type','menu_item','votes'],axis=1)

In [31]:
df_percent=df1.sample(frac=0.5)

In [32]:
df_percent.shape

(4456, 13)

In [33]:
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.tokenize import word_tokenize

In [34]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\Mayur
[nltk_data]     Dalvi\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [35]:
df_percent.set_index('name', inplace=True)
indices = pd.Series(df_percent.index)

In [36]:
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.tokenize import word_tokenize
from sklearn.metrics.pairwise import linear_kernel # Import linear_kernel

tfidf = TfidfVectorizer(analyzer='word', ngram_range=(1, 2), min_df=1, stop_words='english')
tfidf_matrix = tfidf.fit_transform(df_percent['reviews_list'])

cosine_similarities = linear_kernel(tfidf_matrix, tfidf_matrix)

In [37]:
cosine_similarities

array([[1.00000000e+00, 5.24950485e-02, 7.97351628e-03, ...,
        2.55895371e-02, 6.02589411e-02, 1.88176057e-02],
       [5.24950485e-02, 1.00000000e+00, 6.37008689e-03, ...,
        6.32614076e-02, 2.58276408e-02, 5.24066207e-02],
       [7.97351628e-03, 6.37008689e-03, 1.00000000e+00, ...,
        1.46325598e-03, 8.01290338e-03, 6.69652708e-04],
       ...,
       [2.55895371e-02, 6.32614076e-02, 1.46325598e-03, ...,
        1.00000000e+00, 7.84060336e-03, 1.21059643e-01],
       [6.02589411e-02, 2.58276408e-02, 8.01290338e-03, ...,
        7.84060336e-03, 1.00000000e+00, 7.15081612e-03],
       [1.88176057e-02, 5.24066207e-02, 6.69652708e-04, ...,
        1.21059643e-01, 7.15081612e-03, 1.00000000e+00]])

In [38]:
def recommend(name, cosine_similarities=cosine_similarities):
    recommend_restaurant = []

    idx = indices[indices == name].index[0]

    score_series = pd.Series(cosine_similarities[idx]).sort_values(ascending=False)
    top30_indexes = list(score_series.iloc[0:31].index)

    for each in top30_indexes:
        recommend_restaurant.append(list(df_percent.index)[each])

    # Instead of appending, create a list to store DataFrames
    df_list = []

    for each in recommend_restaurant:
        # Append the DataFrame to the list
        df_list.append(pd.DataFrame(df_percent[['cuisines', 'Mean Rating', 'cost']][df_percent.index == each].sample()))

    # Concatenate all DataFrames in the list into a single DataFrame
    df_new = pd.concat(df_list, ignore_index=True)

    df_new = df_new.drop_duplicates(subset=['cuisines', 'Mean Rating', 'cost'], keep=False)
    df_new = df_new.sort_values(by='Mean Rating', ascending=False).head(10)

    print('TOP %s RESTAURANTS LIKE %s WITH SIMILAR REVIEWS: ' % (str(len(df_new)), name))

    return df_new

In [39]:
recommend('Pai Vihar')

TOP 7 RESTAURANTS LIKE Pai Vihar WITH SIMILAR REVIEWS:

                                            cuisines  Mean Rating    cost
8                Chinese, North Indian, South Indian            0   250.0
11               South Indian, North Indian, Chinese            0   300.0
17                                      South Indian            0   150.0
19  Fast Food, North Indian, Chinese, Mughlai, Rolls            0   400.0
20                    North Indian, Chinese, Biryani            0   550.0
28                         Continental, North Indian            0  1300.0
30                North Indian, Chinese, Continental            0   950.0

In [45]:
recommend('Jalsa')

TOP 10 RESTAURANTS LIKE Jalsa WITH SIMILAR REVIEWS:

                                            cuisines  Mean Rating    cost
4                     North Indian, Mughlai, Italian            0  1300.0
5                       Cafe, Continental, Beverages            0   800.0
6                            Cafe, Italian, Desserts            0   600.0
7                              North Indian, Italian            0   900.0
8             Cafe, Italian, Burger, American, Steak            0   650.0
9                                      Modern Indian            0  1100.0
12                    Continental, Italian, American            0   700.0
13  Cafe, Asian, Burger, Continental, Italian, Salad            0   600.0
14                                          Desserts            0   400.0
16                                  Bakery, Desserts            0   500.0

In [47]:
recommend('Black Deer')

TOP 5 RESTAURANTS LIKE Black Deer WITH SIMILAR REVIEWS:

                                             cuisines  Mean Rating   cost
0                                 Beverages, Desserts            0  350.0
14  Ice Cream, Cafe, Pizza, Burger, Desserts, Beve...            0  500.0
21                                Desserts, Beverages            0  300.0
29                                     Cafe, Desserts            0  700.0
30                                Desserts, Ice Cream            0  300.0